<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}?v={{ cache_bust }}">
</head>
<body>
  <div class="hotel-name">Hotel Name</div>
  <div id="slideshow">
    <img class="slide" src="/static/front/slider-1.webp?v={{ cache_bust }}" alt="Food hero">

    <div class="nav">
      <a href="/owner">Owner Panel</a>
      <a href="/customer">Customer Order</a>
      <a href="/chef">Chef Panel</a>
      <a href="/billing">Billing Counter</a>
    </div>
 
  </div>
</body>
</html>
